<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Hyland.Canvas.Client" type="Hyland.Canvas.CanvasClientConfiguration, Hyland.Canvas"/>
    <section name="Hyland.Services.Client" type="Hyland.Services.Client.ServiceClientConfiguration, Hyland.Services.Client"/>
    <section name="Hyland.Canvas" type="Hyland.Canvas.CanvasConfiguration, Hyland.Canvas"/>
    <section name="Hyland.Canvas.Automation.Services" type="Hyland.Canvas.Automation.Services.AutomationConfiguration, Hyland.Canvas.Automation.Services"/>
    <!-- section name="Hyland.Authentication" type="Hyland.Authentication.Configuration.AuthenticationConfigurationSection, Hyland.Authentication" / -->
  </configSections>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="LoggingLevel" value="2"/>
    </switches>
  </system.diagnostics>
  <Hyland.Canvas.Client>
    <ServiceMode enabled="false" allowExit="true" autoLaunch="true">
      <Feature name="Unity Client" enabled="true"/>
      <Feature name="Application Enabler" enabled="false"/>
      <Feature name="Unity Client Automation API" enabled="false"/>
      <Feature name="Virtual Print Driver" enabled="false"/>
      <Feature name="Unity Pop" enabled="false"/>
    </ServiceMode>
  </Hyland.Canvas.Client>
  <Hyland.Services.Client>
    <!--
    SERVICE LOCATIONS
    Service Locations appear in the Unity Client login dialog, and are 
    pre-configured items that contain web service connection information.
    They can be configured in the registry by use of the OnBase Desktop Control Panel,
    or they can be added here.
    
    Service Locations have the following attributes:
    
      ServicePath:          The URL to the Service.asmx page of the Application Server
      DataSource:           The data source name (configured at the Application Server) to connect to
      FriendlyName:         The "friendly name" of the service location
      UseNTAuthentication:  A "true" or "false" value indicating if NT authentication is to be used.
      DefaultDomain:        The name of the domain to use by default
      UseADFS:              A "true" or "false" value indicating if ADFS is to be used. If this is set to true make sure you have followed all the steps to enable ADFS as per documentation.
      UseInstitution:       A "true" or "false" value indicating if Institutional database is in use
      IdpUrl:               The URL to the IDP server to be used for authentication
      IdpSilent:            A "true" or "false" value indicating if the user should be prompted with a web browser showing the IDP Path
    -->
    <ServiceLocations>
      <add DefaultDomain="" UseADFS="false" UseInstitution="false" IdpUrl="" IdpSilent="false" ServicePath="https://spiderwisp.nau.froot.nau.edu/AppServer/Service.asmx" DataSource="OnBaseProd" FriendlyName="UnityProd" UseNTAuthentication="true"/>
    </ServiceLocations>
    <AllowAllSSLCertificates Enabled="false"/>
    <OptimizedServicePipeline Enabled="true"/>
  </Hyland.Services.Client>
  <appSettings>
    <!--Toggles the visibility of the workflow trace ribbon group in the workflow layout-->
    <add key="enableWorkflowDebugTrace" value="false"/>
    <add key="mailclient" value="outlook"/>
    <!--Uncomment the next line to enable sending links from the client. Valid values include "disabled", "weblink", "upop" and "upop-file"-->
    <add key="emailLinkAs" value="weblink"/>
    <!--
    When using docpop links make sure that you update the server and the virtual directory in the line below. There
    is no additional configuration when using upop links.
    -->
    <add key="docpopurl" value="https://onbase.nau.edu/appnet/docpop/docpop.aspx?docid={0}&amp;clienttype=html"/>
    <!--
     When using web links for dashboards or reports make sure that you update the server and the virtual directory in the line below. 
     -->
    <add key="reportingWebViewerUrl" value="https://onbase.nau.edu/DashboardViewer/Viewer.aspx"/>

    <!-- The maximum number of concurrent instances of the AutoVue control. -->
    <add key="MaxConcurrentAutoVueControls" value="3"/>
    <!-- Enable the pooling of AutoVue controls (to speed loading of AutoVue viewer windows). -->
    <add key="EnableAutoVueControlPool" value="false"/>
    <!-- Set this option to true to enable the Indexing Integration for GE Centricity. -->
    <add key="enableGECentricityIndexingMode" value="false"/>
    <add key="scanlog" value="false"/>
    <!-- Enables the Modern version of Batch Scanning, featuring subprocess isolation. -->
    <add key="enableModernScanning" value="true"/>
  </appSettings>
  <Hyland.Canvas>
    <!--
    Unity Client will be displayed in the language configured as the 
    "Display language" or the "Default input language" in Windows.
    To display Canvas in a different language than Windows, set the DisplayLanguage to a culture setting like 
    en-US for US English, de-DE for German, fr-FR for French etc.
    -->
    <!--<DisplayLanguage>en-US</DisplayLanguage>-->
    <!--
    Unity Client will display date, time, currency, and numeric values using the default settings configured in 
    Windows under "Regional and Language Options", the "Formats" or "Standards and formats" section.
    To display the values in Unity Client using different cultural settings than the ones configured in Windows,
    set the Culture to a culture setting like en-US for US English, de-DE for German, fr-FR for French etc.
    -->
    <!--<Culture>en-US</Culture>-->
    <!--
    To disable handling of Unity Client contexts from Application Enabler, create an attribute of EnableHandlingUnityClientEvents="false".
    
    When a scrape event with persistent window enabled is performed, they will be displayed in a 
    persistent window that is shared among all contexts. If it is false, the context will open in 
    a new window every time.
    -->
    <ApplicationEnabler DefaultConfigFile="" UsePersistentWindowForRetrieval="false" UsePersistentWindowForCustomQuery="false" UsePersistentWindowForEformCreation="false" UsePersistentWindowForFolderRetrieval="false" UsePersistentWindowForWorkflowRetrieval="false">
      <!--
        FolderPop
        useURL: by setting this attribute to true the scraped data will be added to the URL instead of added as post data.  If the length of the scrape data
                is larger than the max length of the URL the data may be truncated.
        -->
      <FolderPop url="http://localhost/appnet/FolderPop/FolderPop.aspx" openInNewWindow="true" sendSessionID="true" useURL="false"/>
      <!--
        DefPop
      -->
      <DefPop url="http://[server]/virtualRoot" external="no" sendSessionID="false"/>
      <!--
        The "Oracle" node is temporary and may be removed in future releases 
       -->
      <Oracle url="http://localhost/appnet/OracleLogin.aspx"/>
      <PatientWindow url="http://localhost/Medical.Pop/login.aspx" sendSessionID="false" showBanner="true"/>
    </ApplicationEnabler>
    <!--
    IsPersistentLogonEnabled - When set to "true", this option will allow
    users to store their credentials securely so that the next time they run
    Unity Client, they will be automatically logged in. Their stored
    credentials will be held until their login fails to work, this option
    is set back to false, or the user manually logs out.
    -->
    <Application IsPersistentLogonEnabled="false"/>
    <!-- 
    The default home layout for the Unity Client exposes an RSS Feed ticker and a web browser.
    The list of websites here will be made available in the navigation list for browsing, and 
    the list of RSS feeds will be loaded and displayed in the ticker.
    For a website, the URL is required, but the name is optional (the URL will be used when name is absent).
    For a feed, the URL is required.
    -->
    <DefaultHomeLayout>
      <Websites>
        <Website Name="Unity" Url="http://unity.hyland.com"/>
        <Website Name="Community" Url="http://www.onbase.com/community"/>
        <Website Name="OnBase" Url="http://www.onbase.com"/>
      </Websites>
      <Feeds>
        <Feed Url="http://blog.onbase.com/feed/"/>
      </Feeds>
    </DefaultHomeLayout>
    <!--
    The UserGroupTimeoutMode setting controls how timeout is detected.  This is only used when UserGroup Timeout is configured.
      Request (Default): Requests to the application server will serve as means to identify when a user is active within the application.
      Windows: User interaction with any application within a Windows session will serve as means to identify when a user is active.
    -->
    <UserGroupTimeoutMode>Request</UserGroupTimeoutMode>
  </Hyland.Canvas>
  <Hyland.Canvas.Automation.Services>
    <WCF enabled="true"/>
    <VPDMailslot enabled="true" deleteAfterUpload="true"/>
    <HttpAutomation enabled="false" port="15412"/>
    <HttpsAutomation enabled="false" port="15425" certificateLocation=""/>
  </Hyland.Canvas.Automation.Services>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory,System.Data.SqlServerCe,Version=3.5.1.50,Culture=neutral,PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <!--
  <system.web>
  <webServices>
    <soapExtensionTypes>
      <add type="Hyland.Authentication.ADFS.CustomCanvasADFSAuthSoapExtension, Hyland.Authentication" />
    </soapExtensionTypes>
  </webServices>
</system.web>

  <Hyland.Authentication>
    <adfs enabled="true" logClientEventsToEventLog="true">
        <wsTrust forceNTLM="false">
          <adfsEndpointAddress>https://<ADFS_SERVER>/adfs/services/trust/2005/windowstransport</adfsEndpointAddress>
          <securityMode>Transport</securityMode>
          <trustVersion>WSTrustFeb2005</trustVersion>
          <appliesTo>http://mydomain.com/AppNet/</appliesTo>
        </wsTrust>
    </adfs>
  </Hyland.Authentication>
  -->
</configuration>
